@use 'config' as c;

.art06{ 
    width: 100%;
    background-color: c.$color01;
    padding: 3rem c.$padMin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 5rem;
    @media only screen and (min-width:c.$tablet){
        padding: 5rem c.$padMin;
    }
    @media only screen and (min-width:c.$desktop){
        padding: 8rem c.$padMin;
        row-gap: 7rem;
    }
    >div{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        row-gap: 3rem;
        @media only screen and (min-width:c.$tablet){
            width: 80%;
            padding-top: 10rem;
        }
        @media only screen and (min-width:c.$desktop){
            width: 50%;
            row-gap: 4rem;
        }
        >:nth-child(1), p{
            color: c.$color00;
            width: 100%;
            @media only screen and (min-width:c.$tablet){
                width: 80%;
            }
            @media only screen and (min-width:c.$desktop){
                width: 60%;
            }
        }
        >:nth-child(1){            
            @media only screen and (min-width:c.$tablet){
                font-size: clamp(1.2rem, 3.2vw, 3rem);
                line-height: clamp(1.5rem, 4vw, 4rem);;
                position: absolute;
                top: 0;
                left: 0;
            }           
        }
        p{
            line-height: 2rem;
        }
        .boton{
            width: max-content;
        }
    }
}