// Este archivo servirá como archivo de configuración de aquellos estilos clave que afectan a toda la web

// reseteo de estilso para el navegador
// configuración de fuentes
// encabezados h1, h2, etc
// body, header, main, footer (sus estilos globales de forma)
// section (estilos genéricos para todas las secciones)

// aquí reseteo el css
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
//   border: 1px solid black;
}

// Configuración de fuentes
@font-face {
    font-family: 'Open Sans';
    src: url('/assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf');
}
@font-face {
    font-family: 'Staatliches';
    src: url('/assets/fonts/Staatliches-Regular.ttf');
}

// Variables del proyecto
$fuenteTitulos:'Staatliches';
$fuenteTextos:'Open Sans';

$color00:white;
$color01: rgb(29, 29, 29);
$color01bis:rgb(176, 176, 176);
$color01bis2: rgba(0, 0, 0, 0.5);
$color02: #d14d4d;
$color03: rgb(122, 234, 198);


$tablet: 800px;
$desktop: 1200px;

$padMin: 1.5rem;
$padMax: 3rem;

html{
    scroll-behavior: smooth;
}


// Aquí estilos de los encabezados h1, h2, h3, etc y de los textos
h1, h2, h3{
    font-family: $fuenteTitulos;
}

h1{
    font-size: clamp(2rem, 6vw, 8rem);
    text-align: center;     
    color: $color02;
    letter-spacing: 10px;
    width: 90%;    
}
h2{
    color: $color01bis;
    font-size: 3rem;
    letter-spacing: 4px;
}
h3{
    color: $color02;
    font-size: 2rem;
    letter-spacing: 2px;
}
h4{
    font-family: $fuenteTextos;
    color: $color01;
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: 600;
}
p{
    font-family: $fuenteTextos;
    color: $color01;
}
a{
    font-family: $fuenteTextos;      
    text-decoration: none;
}

.h2Especial{
    // los estilos de la caja donde dentro estarán tanto el span (ralla) como el h2
    width: 100%;
    padding: 0 $padMin;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1rem;
    @media only screen and (min-width:$desktop){
        &{
            width: 80%;
            padding: initial;
        }
    }
    >span{
        width: 60px;
        height: 2px;
        background-color: $color02;
    }
    h2{
        color: $color02;
        font-family: $fuenteTextos;
        font-size: 1.3rem;
        text-align: left;
    }
    
}

.boton{
    padding: 0.7rem 4rem;
    color: $color00;  
    background-color: $color02;
    border-radius: 5px;
    letter-spacing: 3px;
    font-weight: 600;
    border: 1px solid $color00;
    transition: 0.3s;
    &:hover{
        background-color: $color00;
        color:$color02;
        border-color: $color02;
    }
    &:active{
        transform: scale(0.95);
    }
}


// Estilos básicos de etiquetas principales
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

header, nav, main, footer, section{
    width: 100%;
    max-width: 2560px;
}

section{
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    @media only screen and (min-width:$tablet){
        &{
            padding: 4rem 0;
            row-gap: 3rem;
        }
    }
    @media only screen and (min-width:$desktop){
        &{
            padding: 6rem 0;
            row-gap: 4rem;
        }
    }
}
