@use 'config' as c;

.moduloBoton01{
    width: max-content;                  
    color: c.$color01;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1rem;
    &:hover span{
        color: c.$color02;
    }
    &:hover img{                            
        filter: invert(36%) sepia(34%) saturate(1010%) hue-rotate(314deg) brightness(110%) contrast(100%);
    }
    >span{
        letter-spacing: 2px;
    }
    >img{
        width: 13px;
        transform: translateY(2px);
    }
    >span, >img{
        transition: 0.3s;
    }
}